{% extends "base.html" %}

{% load staticfiles i18n %}
{% load humanize %}
{% load tz %}
{% block content %}
<div class="col-md-7 col-sm-6 col-xs-12 post">
    <form action="/create-post/" method="POST">
    {% csrf_token %}
        <div class="header-post">
            <a href="#">
                <div class="head-img">
                    <img class="profile-img small img-circle " src="{{ user.get_image }}">    
                </div>
                <span class="head-name">{{ user }}</span>
                <button class="btn btn-success pull-right" id="post-new">{% trans "Đăng" %}</button>
            </a>
        </div>
        <a href="#">
            <img class="img-responsive lazy" data-original="{% static 'uploads/test.png' %}">
        </a>
        <div class="">
            <div class="mycomment">
              <textarea name="content" id="content" class="new-comment" placeholder="__{{ user}}{% trans ' đang nghĩ gì?__' %}"></textarea>
            </div>
          
        </div>
    </form>
</div>
<!--End-->
{% for post in posts %}
<!--One Post -->
<div class="col-md-7 col-sm-6 col-xs-6 post">
    <div class="header-post">
        <a href="#">
            <div class="head-img">
                <img class="profile-img small img-circle " src="{{ post.get_image }}">    
            </div>
            <span class="head-name">{{ post.author }}</span><span><br/><span>{{post.date|timesince }} trước</span>
            <span class="pull-right">{{post.date|naturalday }} - lúc {{ post.translate|time:"P"  }}</span>
        </a>
    </div>
    <div class="title-post">{{ post.content|escape }}</div>
    <a href="#">
        <img class="img-responsive lazy" data-original="{% static 'uploads/test.png' %}">
    </a>
    <div class="comment-block">
        <div id="{{ post.id }}">
            {% for comment in post.get_comment %}
            <!--loop comments-->
            <div class="comment">
                <div class="head-img">
                    <img class="profile-img small img-circle " src="{{ comment.get_image }}">    
                </div>
                <span class="head-name">{{comment.author}}</span>
                <p style="display:inline;padding-right: 15px;">{{ comment.content|escape }}<br/>
                <span class="comment-time">{{comment.date|timesince }} trước</span>
                </p>
            </div>
            <!--endloop comments-->
            {% endfor %}
        </div>
        <div class="mycomment">
             <div class="head-img-comment">
                <img class="profile-img small img-circle " src="{{ user.get_image }}">    
            </div>
            <div class="w-comment">
                <textarea class="m-comment" data-post-id="{{ post.id }}"></textarea>
            </div>
        </div>
    </div>
</div>
<!--End Post-->
{% endfor %}
{% endblock %}