{% extends "base.html" %}

{% load staticfiles i18n %}
{% load humanize %}
{% load tz %}
{% block content %}
<div class="col-md-7 col-sm-12 col-xs-12 post">
    <form action="/create-post/" method="POST">
    {% csrf_token %}
        <div class="header-post">
            <a href="#">
                <div class="head-img">
                    <img class="profile-img small img-circle " src="{{ user.get_image }}">    
                </div>
                <span class="head-name">{{ user }}</span>
                <button class="btn btn-success pull-right" id="post-new">{% trans "Đăng" %}</button>
            </a>
        </div>
        <a href="#">
            <img class="img-responsive lazy" data-original="{% static 'uploads/test.png' %}">
        </a>
        <div class="">
            <div class="mycomment">
              <textarea name="content" onkeypress="addPost(event)" id="content" class="new-comment" placeholder="__{{ user}}{% trans ' đang nghĩ gì?__' %}"></textarea>
            </div>
          
        </div>
    </form>
</div>
<!--End-->
<div id="post-wrap">
{% for post in posts %}
    {% include "post/one_post.html" %}
{% endfor %}
</div>


{% if posts.has_next %}
<div class="col-md-7 col-sm-12 col-xs-12 post next-post">
    <a href="javascript:void(0)" class="viewmore-post" data-page="{{ posts.next_page_number}}">{% trans "Xem thêm" %}</a>
</div>
{% endif %}

{% endblock %}