body{
    background-color: #e9eaed;
}
.container{
	max-width: 960px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}
header,
.menu{
    background-color: #0073c6;
}

header,
footer{
	min-height: 50px;
}
#homelink{
    display: block;
    height: 50px;
    width: 150px;
    float: left;
    background: url('../images/logo.png') no-repeat scroll 3px;
}
.menu{
    min-height: 50px;
}

.menu-top{
    height: 100%;
    vertical-align: middle;
    margin: 0;
    float: left;
    padding-left: 0;
}
.menu-top li {
    height: 100%;
    color: white;
    display: inline-block;
}
.menu-top li a {
    display: block;
    text-align: center;
    height: 100%;
    width: 167px;
    line-height: 50px;
    color: white;
    font-weight: normal;
    background-repeat: no-repeat;
    background-position: 12px 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: bold;
}
.menu-top li a:active{
    background-color: #0457ad;
}

.menu-top li a:hover{
    background-color: #318bd8;
    color: white;
    text-decoration: none;
}

.content{
    min-height: 600px;
    padding-top: 60px;
}

/* Loading Animation */

.loading {
    position: relative;
    left: -5px;
    margin-right: 40px;
}

.btn .loading {
    left: 0px;
    top: 0px;
    margin-right: 10px;
}

/* End Loading Animation */
/*====form-sign===*/
.form-sign ul li{
	list-style: none;
}
/*======signup======*/
.nt-logo{
	background-image: url("../images/dk.png");
	height: 288px;
	margin-top: 15px;
	width: 320px;
}
/*====post===*/
.ad,
.post{
    margin-bottom: 5px;
    border-top: 1px solid #ccc;
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
}

.header-post{
    padding: 6px;
    border-bottom: 1px solid #ccc;
    color: #141823;
}
.header-post a:hover{
    text-decoration: none;
}
.title-post{
    padding-top: 10px;
}
.head-name{
    padding-left: 10px;
    font-weight: bold;
    color: #3b5998;
}
.head-img{
    display: inline;
}

.footer-post{
    margin-bottom: 10px;
    clear: both;
}
.footer-post a{
    color: #3b5998;
    font-size: 12px;
}
/*====comment====*/
.head-img-comment{
    float: left;
}
.comment{
    margin: 10px 5px 10px 0;
}
.m-comment{
    width: 85%;
    max-width: 85%;
    overflow: hidden;
    line-height: 15px !important;
}
.w-comment{
    overflow: hidden;
    zoom: 1;
    margin-left: 20px;
    display: inline;
}
.comment-block{
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: #F7ECEC;
    border-top: 1px solid #ccc;
}
.comment-time{
    font-size: 9px;
    font-weight: bold;
}
.viewmore-comment,
.viewmore-comment:hover{
    display: block;
    text-align: center;
    background-color: #DBD9E0;
    margin-left: -15px;
    height: 30px;
    text-decoration: none;
    padding: 5px;
}
/*====End comment====*/
/*=====new POST======*/
.new-comment{
    margin-top: 10px;
    min-height: 50px;
    padding-top: 15px;
    width: 100%;
    max-width: 100%;
    line-height: 20px !important;
    border:none;
}
#post-new{
    visibility: hidden;
}
/*=====end POST====*/
.ad{
    position: fixed;
    right: 490px;
    min-height: 800px;
}

/*====footer====*/
footer{
    text-align: center;
}
footer ul{
    text-align: center;
    list-style: none;
    color: #7b7b7b;
    margin: 0;
    padding: 0;
}

footer ul li{
    float: left;
    line-height: 17px;
}
/*====index===*/
.profile-mask {
    background-image: url(../images/profile-mask.png);
    position: absolute;
    top: 6px;
    width: 38px;
    height: 38px;
    background-size: 38px;
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/profile-mask.png',sizingMethod='scale')";
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/profile-mask.png',sizingMethod='scale')";
}
.profile-img.small {
    width: 38px;
    height: 38px;
}

.profile-mask.blue {
    background-image: url(../images/profile-mask-blue.png);
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/profile-mask-blue.png',sizingMethod='scale')";
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/profile-mask-blue.png',sizingMethod='scale')";
}
.profile-mask.white {
    background-image: url(../images/profile-mask-white.png);
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/profile-mask-white.png',sizingMethod='scale')";
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/profile-mask-white.png',sizingMethod='scale')";
}
.account,
.account:hover{
    color: white;
    background-color:  #0073c6;
}
#caret{
    top:10px;
    right: 8px;
    box-shadow:none;
}