{% load staticfiles i18n %}
{% include 'common/homepage/header.html'  %}
 <title>{% block title %}{% blocktrans %}{% endblocktrans %}{% endblock %}</title>
</head>
<body>
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header>
  <div class="container menu">
    <a href="/" id="homelink">

    </a>
    <ul class="menu-top">         
          <li><a href="" class="">{% trans "Tài chính" %}</a></li>
          <li><a href="" class="">{% trans "Chồng" %}</a></li>
          <li><a href="" class="">{% trans "Vợ" %}</a></li>
          <li><a href="/accounts/logout" class="home active">{% trans "Thoát" %}</a></li>
      </ul>
    {% block menu %}
    {% endblock %}
  </div>
</header>
<div class="container content">
    {% block content %}
    {% endblock %}
</div>
{% include 'common/homepage/footer.html'  %}
{% block js %}
{% endblock %}
   </body>
</html>
